<div id="topImage">
    <h1 id="wadu">WADU</h1>
</div>
<div id="underTopImg">
    <p class="text">What would you like to do?</p>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img class="rounded img-thumbnail" id="myPic" width="250" src="https://lh3.googleusercontent.com/-gF6K1gvTkNI/AAAAAAAAAAI/AAAAAAAABGc/f9JQqjeSmHs/s640/photo.jpg">
                <br>
                <br>
            </div>
            <div class="col-9 column">
                BIO: Our CEO, Dandy, is a full-time student majoring in computer science. His current skills are in Node.js, Javascript,
                Angular 5, HTML, CSS, MongoDB and UI/UX via Figma. He will pursue a career in web design and web development.
            </div>
            <div id="lineUnderPhoto" class="col-12">

            </div>
        </div>
        <div class="row">
            <div class="col-3">

                <p class="question">What is
                    <br>
                    <em>WADU?</em>
                </p>
            </div>
            <div class="col-9 column">
                WADU, in short, is an assistance platform. WADU helps college students of ages 18 to 30 years learn what type of jobs are
                available by the type of hobbies, skills or skills yet to be learned the person has.
                <br> WADU does not focus on minumum wage, or obscene jobs.
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-3">

                <p class="question">Why make
                    <br>
                    <em>WADU?</em>
                </p>
            </div>
            <div class="col-9 column">
                There is a growing number of technological advances and innovation in the world. With this huge flow of information and technology,
                it is no surprise that their is a growing uncertainty amongst the people of today in terms of choosing a
                career. WADU solves that problem by giving the people options of what type of jobs are out there. The main
                focus is to help people do what they love. A friend of mine once said, "I really love movies and love screen
                writing and I couldn't imagine myself without both."
            </div>
        </div>
    </div>
</div>