<body>
    <form #userContactForm = "ngForm" (ngSubmit) = "contactInfo()"><br><br>
        <br><br><br><div class = "container cont rounded img-thumbnail"><br>
                <h1 id="contactTitle">Contact Me:</h1>
            <div class = "row">
                <div class = "col-6">
                        <h2 id = "nameTitle">Please enter full name</h2>
                        <h2 id = "emailTitle">Enter email address</h2>
                        <h2 id = "phoneTitle">Enter phone number</h2>
                        <h2 id = "commentTitle">Comments?</h2>
                </div>
                <div class = "col-6" id = "textBoxCont">
                    <textarea class = "resizeTxt rounded" name = "fullName" [(ngModel)] = "contact.fullName" required = ""></textarea>
                    <br><br>

                    <textarea class = "resizeTxt rounded" name = "email" [(ngModel)] = "contact.email" required = ""></textarea>
                    <br><br>
                    <textarea class = "resizeTxt rounded" name = "phoneNumber" [(ngModel)] = "contact.phoneNumber" required = ""></textarea>
                    <br><br>
                    <textarea id = "comments" class = "rounded"name = "comments" cols= "50" rows="5" [(ngModel)] = "contact.comments" required = "">Enter text here...</textarea>
                    <br><br>
                    <button id = "button" name = "btn" value = "submit">Submit</button><br><br><br><br><br>
                </div>
            </div>
        </div>
    </form>
    <br>
    <br>
</body>