<body>
    <h1 id = "contactTitle">Contact me:</h1><br><br>
    <h2>Please enter full name</h2>
    <textarea></textarea><br>
    <h2>Enter email address</h2>
    <textarea></textarea><br>
    <h2>Enter phone number</h2>
    <textarea></textarea><br>
    <h2>Comments?</h2>
    <textarea cols = "50" rows = "5">Enter text here...</textarea><br>
    <button>submit</button><br><br>
      
    <a href = ""><img width = "50px" src = "http://www.makestuff.in/tutorial/sharebutton/image/6.png"></a>
    <a href="https://www.facebook.com/dandy.reyes.12"><img width = "50px" src="https://media4.s-nbcnews.com/j/streams/2013/december/131203/2d9840012-facebooklogo.nbcnews-ux-1024-900.jpg" alt=""></a>
    <a href="https://github.com/Sincote"><img width = "50px" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt=""></a>
</body>

