ul {
    position: absolute;
    top:0;
    left:0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: -50px;
    overflow: hidden;
    background: linear-gradient(to bottom, #ffffff, #b9b9b9, #777777, #3b3b3b, #000000); opacity: 0.5; filter: alpha(opacity=50);
    border-bottom: 2px solid black;
    width: 100vw;
    height: 50px;
    position: fixed;
}

li {
    float: right;
}

li a {
    
    color: white;
    text-align: center;
    
    padding: 5px 16px;
    text-decoration: none;
}

.li a:hover {
    color: #4F4F4F;
    font-size: 110%;
    text-decoration: underline;
}

.active{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    /*background: -webkit-linear-gradient(black,white ,white);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100px;
    height: 100px;
    animation-name: example;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#KeepLeft{
    float: Left;

}

    @keyframes example {
        0%   {background-color: white;}
        25%  {background-color: turquoise;}
        50%  {background-color: navy;}
        100% {background-color: black;}
    }

   .footer {
        position: relative;
        width: 100vw;
        background: linear-gradient(grey, lightgrey );
        color: white;
        text-align: left;
    }