<ul id="nav">
    <li id = "KeepLeft"><a class="active" routerLink="Home"><b>WADU</b></a></li>
    <li class = "li"><a routerLink="Contact">Contact</a></li>
    <li class = "li"><a routerLink="About">About</a></li>
</ul>
<router-outlet></router-outlet>
<div class="footer">
    <a href = ""><img width = "20px" src = "http://www.makestuff.in/tutorial/sharebutton/image/6.png"></a>
    <a href="https://www.facebook.com/dandy.reyes.12"><img width = "20px" src="https://media4.s-nbcnews.com/j/streams/2013/december/131203/2d9840012-facebooklogo.nbcnews-ux-1024-900.jpg" alt=""></a>
    <a href="https://github.com/Sincote"><img width = "20px" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt=""></a>
  </div>