<form #infoHolderForm="ngForm" (ngSubmit)="onClick()" name = "Form">
    <div id="Visa">
        <h1 id="wadu">WADU</h1>
        <button name="btn" value = "Submit">Submit</button>
        <div class="popup">
            <input (mouseenter) = "myFunction()" [(ngModel)]="userInput.data" type="text" 
            name="userInput" size="40" id="text" required = "" [disabled]="returnTrue()">
            <span class="popuptext" id="myPopup" name = "span" >You have {{ countDown }} inputs left</span>
          </div>
          
        <!-- HTML -->
        <div class="myBox">
            <p *ngFor = "let user of userData">{{user.data}}</p>
        </div>
        <button id="buttonRight" [hidden] = "!returnTrue()">
            <a routerLink="/Results">Click to Finish</a>
        </button>
    </div>
</form>