<form #infoHolderForm="ngForm" (ngSubmit)="onClick()" name="Form">
    <div id="Visa">
        <h1 id="wadu">WADU</h1>
        <br>

        <ng-template id="myModal" #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title modaltitle">How does it work?</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modalText">
                <p>Welcome to WADU! WADU specializes in finding you the job you love. Press the downward arrow and choose from
                    the selection of hobbies. You will need to choose at least three hobbies then press continue to get a
                    career option! Let's start&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn1 btn-outline-dark rounded" (click)="c('Close click')">Close</button>
            </div>
        </ng-template>
        <hr>


        <!--This is for the hobby images-->
        <div class="container picHold">
            <div class="row collapse demo">
                <div class="col-4">
                    <button class="button rounded" (click)="clickPic('baker')" (click)="changeBake()" [disabled]="returnBool()">
                        <img id="baking" class="rounded img-thumbnail" src="../../assets/baking_color_text.jpg" alt="">
                    </button>
                </div>
                <div class="col-4">
                    <button class="button rounded" (click)="clickPic('biking')" (click)="changeBiking()" [disabled]="returnBool()">
                        <img id="biking" class="rounded img-thumbnail" src="../../assets/biking_color_text.jpg" alt="">
                    </button>
                </div>
                <div class="col-4">
                    <button class="button rounded" (click)="clickPic('theatre')" (click)="changeTheatre()" [disabled]="returnBool()">
                        <img id="theatre" class="rounded img-thumbnail" src="../../assets/theatre_color_text.jpg" alt="">
                    </button>
                </div>
            </div>
            <br>
            <br>

            <div class="row collapse demo">
                <div class="col-4">
                    <button class="button rounded" (click)="clickPic('music')" (click)="changeMusic()" [disabled]="returnBool()">
                        <img id="music" class="rounded img-thumbnail" src="../../assets/music_color_text.jpg" alt="">
                    </button>
                </div>
                <div class="col-4">
                    <button class="button rounded" (click)="clickPic('creating')" (click)="changeCreating()" [disabled]="returnBool()">
                        <img id="creating" class="rounded img-thumbnail" src="../../assets/creating_color_text.jpg" alt="">
                    </button>
                </div>
                <div class="col-4">
                    <button class="button rounded" (click)="clickPic('writing')" (click)="changeWriting()" [disabled]="returnBool()">
                        <img id="writing" class="rounded img-thumbnail" src="../../assets/writing_color_text.jpg" alt="">
                    </button>
                </div>
            </div>
            <br>
            <br>

            <div class="row collapse demo">
                <div class="col-4">
                    <button class="button rounded" (click)="clickPic('drawing')" (click)="changeDrawing()" [disabled]="returnBool()">
                        <img id="drawing" class="rounded img-thumbnail" src="../../assets/drawing_color_text.jpg" alt="">
                    </button>
                </div>
                <div class="col-4">
                    <button class="button rounded" (click)="clickPic('photography')" (click)="changePhotography()" [disabled]="returnBool()">
                        <img id="photography" class="rounded img-thumbnail" src="../../assets/photography_color_text.jpg" alt="">
                    </button>
                </div>
                <div class="col-4">
                    <button class="button rounded" (click)="clickPic('socializing')" (click)="changeSocializing()" [disabled]="returnBool()">
                        <img width="350px" id="socializing" class="rounded img-thumbnail" src="../../assets/socializing_color_text.jpg" alt="">
                    </button>
                </div>
                <button class="rounded btn" id="buttonRight" routerLink="/Results" [hidden]="returnHidden()">
                    <b>CLICK TO FINISH</b>
                </button>
                <button (click)="refreshAll()" class="rounded btn" id = "buttonLeft"><b>REFRESH</b></button>
                <br>
                <br>
                <br>
            </div>
            <img src="../../assets/chevron-sign-down.png" id="arrowDU" (click)="changeIcon()" data-toggle="collapse" data-target=".demo"
                alt="">
            <br>
            <br>
            <br>
        </div>
    </div>
</form>